/Labs/Partial 1/Nueva Carpeta/Project_Zoo/nbproject/private/
/Labs/Partial 1/Nueva Carpeta/Project_Zoo/build/
/Labs/Partial 1/Lab 9/Calculate_Age/build/
/Labs/Partial 1/Lab 9/Calculate_Age/nbproject/private/
/Labs/Partial 1/Lab 9/Calculate_Age_Lab9/build/
/Labs/Partial 2/Lab10-File_Management/nbproject/private/
/Labs/Partial 1/Lab 9/Calculate_Age_Lab10/build/
/Homework/Partial 2/Homework 10/Calculate_Age_HW10/nbproject/private/
/Homework/Partial 2/Homework 10/Calculate_Age_HW10/build/
/Homework/Partial 2/Homework 10/Calculate_Age_HW10/dist/
/Labs/Partial 2/Array_Lab11/nbproject/private/
/Labs/Partial 2/Array_Lab11/build/
/Labs/Partial 2/Lab15_Interface/nbproject/private/
/Labs/Partial 2/Lab15_Interface/build/
/Labs/Partial 2/Lab16_Expection/nbproject/private/
/Labs/Partial 2/Lab16_Expection/build/
/Labs/Partial 2/TestCode/nbproject/private/
/Labs/Partial 2/TestCode/build/
/Labs/Partial 2/Lab17_unit/nbproject/private/
/Labs/Partial 2/Lab17_unit/build/
/Homework/Partial 2/Homework 11/Calculate_Age_HW11/nbproject/private/
/Homework/Partial 2/Homework 11/Calculate_Age_HW11/build/
/Labs/Partial 2/Lab18_Collection/nbproject/private/
/Labs/Partial 2/Lab18_Collection/build/
/Labs/Partial 2/Lab19_Library/nbproject/private/
/Labs/Partial 2/Lab19_Library/build/
/Labs/Partial 2/Lab19_Library/dist/